[flake8]
max-line-length = 120
ignore = E501, W503, E402
exclude =
    .venv,
    .git,
    .tox,
    dist,
    doc,
    *openstack/common/*,
    *lib/python*,
    *egg,
    build,
    tools/xenserver*,
    releasenotes,
    profiles/serializers/__init__.py
    base/apps.py
